@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Text Me One', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --white: #ededed;
  --dark-purple: #2f2e41;
  --very-light-brown: #f2e0b9;
  --very-light-orange: #dfc062;
  --hero-number-primary: #b59b64;
  --hero-number-secondary: #bf9239;
  --button-primary-from-gradient: #dbb54d;
  --button-primary-to-gradient: #e4b033;
  --about-span: #d0aa5d;
  --hobbies-from-gradient: #b79e4d;
  --hobbies-to-gradient: #c48405;
}

.slide-left {
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-15px);
  }
}
